# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# macOS
.DS_Store

# Local environment
.env
.venv/
venv/

# Temporary files
*.tmp

# Data files
Data/


# Processed data
Data/Processed/


# Tableau derived data
Tableau/*.csv